<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Communication</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.css}"/>
    <script type='text/javascript' th:src="@{/js/jquery-3.6.0.min.js}"></script>
</head>
<body>
<div class="container">
    <div class="alert alert-primary" role="alert">
        Communication Window
    </div>
    <div class="row">
        <div class="col">
            <input type="text" class="form-control" id="sourceId" placeholder="Input my id">
        </div>
        <div class="col">
            <input type="text" class="form-control" id="destinationId" placeholder="Input destination id">
        </div>
    </div>
    <div class="row">
        <br/>
    </div>
    <div class="row">
        <div class="col">
            <input type="text" class="form-control" id="message" placeholder="Input a message">
        </div>
        <div class="col">
            <button type="button" id="btnConnect" class="btn btn-primary">Connect</button>
            <button type="button" id="btnSend" class="btn btn-primary" disabled>Send message</button>
        </div>
    </div>
    <div class="row">
        <br/>
    </div>
    <div class="row">
        <div class="col">
            <div id="textarea1"></div>
        </div>
    </div>
</div>
<script type="text/javascript" th:src="@{/webjars/bootstrap/5.2.0/js/bootstrap.js}"></script>
<script type="text/javascript">
    var Console = {};
    Console.log = (function (message) {
        var console = document.getElementById('textarea1');
        var p = document.createElement('p');
        p.style.wordWrap = 'break-word';
        p.innerHTML = message;
        console.appendChild(p);
        while (console.childNodes.length > 25) {
            console.removeChild(console.firstChild);
        }
        console.scrollTop = console.scrollHeight;
    });


    var Chat = {};
    Chat.socket = null;
    Chat.connect = (function (host) {
        if ('WebSocket' in window) {
            Chat.socket = new WebSocket(host);
        } else if ('MozWebSocket' in window) {
            Chat.socket = new MozWebSocket(host);
        } else {
            Console.log('Error, socket type not found');
            return;
        }

        Chat.socket.onopen = function () {
            $("#btnSend").click(function () {
                Chat.sendMessage();
            });
        };

        Chat.socket.onclose = function () {
            Console.log('close socket');
        };

        Chat.socket.onmessage = function (message) {
            Console.log(message.data);
        };
    });

    // Open connection
    Chat.initialize = function () {
        $('#btnConnect').click(function () {
            var senderId = $("#sourceId").val();
            if (senderId === '') {
                alert("Please input sender id");
                return ;
            }
            Chat.connect('ws://127.0.0.1:8080/webSocket/' + senderId);
            $('#btnSend').prop('disabled', false);
            $('#btnConnect').prop('disabled', true);
            $('#sourceId').prop('disabled', true);
        });
    };


    // Send message
    Chat.sendMessage = (function () {
        var message = $('#message').val();
        var destinationId = $('#destinationId').val();

        if (destinationId === '') {
            alert('Please input destination id');
            return ;
        }

        var mess = {};
        mess.message = message;
        mess.destination = destinationId;

        var jsonMessage = JSON.stringify(mess)
        if (message !== '') {
            Chat.socket.send(jsonMessage);
            $('#message').val('');
            Console.log(message);
        }
    });

    Chat.initialize();
</script>
</body>
</html>
